* {
    box-sizing:border-box;
}

body {
    background-color: #8e44ad;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.counter-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px 50px;
}

.counter-container i {
    font-size: 120px;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}

@media(max-width: 600px) {
    body {
        flex-direction: column;
    }
}